{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style=" text-align: center;">{{ matiere_correspondante.name}}</h5>
                        {% autoescape off %}
                        <p class="card-text">{{ matiere_correspondante.description }}</p>
                        {% endautoescape %}
                        <div class="">
                            {% for typeAvailable in list_type|dictsort:"name" %}
                                 <div class="dropdown-divider"></div>
                                 <a class="dropdown-item" href="{% url 'matieresScolaireType' matiere_correspondante.name typeAvailable %}">{{ typeAvailable }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
